@charset "utf-8";

@import "normalize";
@import "bourbon";
@import "neat";
@import "../../node_modules/material-colors/dist/colors.scss";

$primary-dark: #455a64;
$primary: #607d8b;
$accent: #ff5252;
$body: #212121;

body {
  font-family: Arial, sans-serif;
  color : $body;
  background-color: #E0E0E0;
  margin: 20px;
}

.board-wrap {
  position: relative;
}

h2.stats {
  margin: 20px 0 5px 20px;
  text-transform: uppercase;
  letter-spacing: -1px;
  &.stats-gen {
    font-size: 22px;
  }
  &.stats-living {
    font-size: 16px;
  }
}

h3 {
  color: #565656;
  width: 100%;
  clear: both;
  display: block;
}

canvas {
  cursor: default;
}

button[disabled], html input[disabled] {
  cursor: not-allowed;
}

div#controls {
  position: absolute;
  top: 0;
  left: 10px;
}

button {
  border: none;
  padding: 5px 10px;
  margin-right: 10px;
  background-color: $accent;
  color: #fff;
}

.controls-label {
  font-size: 10px;
  text-transform: uppercase;
  margin-bottom: 1px;
}

div.btn-group {
  @include clearfix;
  button {
    color: #ab1818;
    display: inline-block;
    position: relative;
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
  }
  button.selected {
    color: #fff;;
    &:after {
    height: 3px;
    width: 100%;
    display: block;
    content: " ";
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: yellow;
    }
  }
}

.grouped {
  margin-right: 0;
}
