@charset "utf-8";

@import "normalize";
@import "bourbon";
@import "neat";
@import "../../node_modules/material-colors/dist/colors.scss";

body {
	font-family: Arial, sans-serif;
	color : #212121;
	background-color: #E0E0E0;
}

.wrapper {
	@include outer-container;
}

div#alpha {
	@include span-columns(12);
}

canvas {
	cursor: default;
}

button[disabled], html input[disabled] {
	cursor: not-allowed;
	color: grey;
}
